/*
section {
    font-size: 5em;
}

p {
    color: red;
    font-size: 2em;
}

section[name="seccion1"],
.articulo2,
section + p {
    color: red;
}
*/

article .articulo2,
section,
.articulo {
    color: red;
}